## Final Project

In [1]:
import numpy as np
import pandas as pd

### read confirmed cases

In [2]:
## read the csv
confirmed_df = pd.read_csv("confirmed_cases_global.csv", index_col=False)
## to avoind the indexed colunm we set this as the the indexed 
confirmed_df.set_index('Country/Region', inplace=True)

#### remove colums , switching rows with colums and adding the total colum

In [3]:
confirmed_df= confirmed_df.drop(["Lat","Long","Province/State"], axis=1)
confirmed_df = confirmed_df.transpose()
confirmed_df["Total confirmed"] = confirmed_df.sum(axis = 1, skipna = True, numeric_only=True)

In [4]:
confirmed_df.head(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe,Total confirmed
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,557
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,657
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,944

In [5]:
death_df = pd.read_csv("deaths_cases_global.csv", index_col=False)
death_df.set_index('Country/Region', inplace=True)
death_df= death_df.drop(["Lat","Long","Province/State"], axis=1)
death_df = death_df.transpose()
death_df["Total death"] = death_df.sum(axis = 1, skipna = True, numeric_only=True) 

death_df.head(3)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe,Total death
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,17
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,18
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26

In [7]:
agg_data = pd.concat([death_df["Total death"],  confirmed_df["Total confirmed"]], axis=1)
agg_data

         Total death  Total confirmed
1/22/20           17              557
1/23/20           18              657
1/24/20           26              944
1/25/20           42             1437
1/26/20           56             2120
...              ...              ...
4/17/22      6198487        504619899
4/18/22      6199914        505089291
4/19/22      6203317        506082451
4/20/22      6207815        507046645
4/21/22      6211981        507947338

[821 rows x 2 columns]